@use 'common/styles/_variables' as *;

.container {
    @include flexCenter;
    background-color: $color-bg-header;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100vw;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
}

.logo {
    width: 133.33px;
    height: 72px;
    margin-top: 56px;
}
.count {
    @include flexCenter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 16px 0 16px;
}
/* Media query */
@media screen and (max-width: 376px) {
    .icon-offer {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
    }
    .order-count {
        display: flex;
        justify-content: left;
        align-items: left;
        margin: 16px 16px 8px 16px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
    }
    .logo {
        height: 74px;
    }
}
