@use 'common/styles/_variables' as *;
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.container {
    @include flexCenter;

    background: $color-bg-pre-header;
    color: $color-text-light;
    width: 100%;
    height: 56px;

    font-weight: weight(light);
    font-size: size(big);
    line-height: height(small);
    letter-spacing: 1.8px;

    @include mobile {
        font-weight: weight(bold);
        flex-direction: column;
    }
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
